<!doctype html>
    <head>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='theme/datatables.bundle.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='theme/style.bundle.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='theme/vendors.bundle.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/panel.css') }}">
        <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

        {% block styles %}{% endblock %}

        <script src="{{ url_for('static', filename='js/jquery.js') }}"></script>
        <title>Marketing Bot</title>
    </head>
    <body>
        <div id="header">
          <a class="logo-container" href="/dashboard">
            <img id="logo" src="{{ url_for('static', filename='images/logo.png') }}" alt="Logo" />
            XBot
          </a>
          <ul class="menu-container">
            <li><a href="/dashboard">Dashboard</a></li>
            <li><a href="/api-apps">API Apps</a></li>
            <li><a href="/bots">My Bots</a></li>
            <li><a href="/tweets">Tweets</a></li>
          </ul>
        </div>

        <div class="page">
            {% for message in get_flashed_messages() %}
                <div class="flash">{{ message }}</div>
            {% endfor %}
            {% macro render_error(field) %}
                {% if field.errors %}
                    {% for error in field.errors %}<span class='error'>{{ error }}</span>{% endfor %}
                {% endif %}
            {% endmacro %}
            {% block body %}{% endblock %}
        </div>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.min.js"></script>
        <script src="{{ url_for('static', filename='theme/scripts.bundle.js') }}"></script>
        <script src="{{ url_for('static', filename='theme/vendors.bundle.js') }}"></script>
        <script src="{{ url_for('static', filename='theme/datatables.bundle.js') }}"></script>
        <script src="{{ url_for('static', filename='js/socket.js') }}?v={{timestamp()}}"></script>

        {% block scripts %}{% endblock %}
    </body>
</html>
