<!doctype html>
    <head>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='theme/datatables.bundle.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='theme/style.bundle.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='theme/vendors.bundle.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/panel.css') }}">
        
        {% block styles %}{% endblock %}

        <script src="{{ url_for('static', filename='js/jquery.js') }}"></script>
        <title>Marketing Bot</title>
    </head>
    <body>
        <div id="header">
          <a class="logo-container" href="/dashboard">
            <img id="logo" src="{{ url_for('static', filename='images/logo.png') }}" alt="Logo" />
            XBot
          </a>
          <ul class="menu-container">
            <li><a href="/dashboard">Dashboard</a></li>
            <li><a href="/api-apps">API Apps</a></li>
            <li><a href="/bots">My Bots</a></li>
          </ul>
        </div>

        <div class="page">
            {% for message in get_flashed_messages() %}
                <div class="flash">{{ message }}</div>
            {% endfor %}
            {% macro render_error(field) %}
                {% if field.errors %}
                    {% for error in field.errors %}<span class='error'>{{ error }}</span>{% endfor %}
                {% endif %}
            {% endmacro %}
            {% block body %}{% endblock %}
        </div>

        <script src="{{ url_for('static', filename='theme/scripts.bundle.js') }}"></script>
        <script src="{{ url_for('static', filename='theme/vendors.bundle.js') }}"></script>
        <script src="{{ url_for('static', filename='theme/datatables.bundle.js') }}"></script>

        {% block scripts %}{% endblock %}
    </body>
</html>
