Flask
Flask-WTF
Jinja2
Flask-DebugToolbar
Flask_Bcrypt==0.7.1
Flask-Session
Flask-SQLAlchemy
googletrans==4.0.0-rc1
#mysqlclient
# python-mysqldb
# MySQLdb
python-dotenv
python-twitter-v2
twitter-text-parser
PyJWT
# pytwitter
requests
apscheduler
tweepy
Flask-SocketIO==4.3.1
python-engineio==3.13.2
python-socketio==4.6.0
