/* 
* 1. Panel Layout
*/

/* 1. Panel Layout */




/* .auth-page {

} */

.flash.error {
  background-color: #f5bdbd5e;
  color: #e45656;
  padding: 0.5rem 1rem;
  margin-bottom: 1rem;
}

#form-wrapper {
  transition: all 0.3s;
  overflow: hidden;
}

#form-wrapper._show {
  max-height: unset;
}

#form-wrapper._hide {
  max-height: 0;
}

span.select2.select2-container span.select2-selection.select2-selection--multiple {
  height: 40px;
}

/* Column Filter */
.col-filter {
  display: flex;
  align-items: center;

}

.col-filter label {
  margin-bottom: 0;
  padding-left: 0.5rem;
}