      <!-- Item Form -->
      <div class="m-portlet__body _hide" id="form-wrapper" style="padding: 0;">
        <form id="website-form" style="padding: 2.2rem 2.2rem;">
            <input type="hidden" id="bot-id" name="id" value="-1"/>
            <div class="row">
              <div class="col-sm-12 col-md-6">
                  <div class="form-group form-group-default">
                      <label>Name<span class="text-danger">*</span></label>
                      <input class="form-control" type="text" id="name" name="name"
                              value="" placeholder="" required />
                  </div>
              </div>
              <div class="col-sm-12 col-md-6">
                <div class="form-group form-group-default">
                    <label>Type<span class="text-danger">*</span></label>
                    <select class="form-control" id="type" name="type" required>
                      <option value="REAL_TIME">Real Time</option>
                      <option value="ONE_TIME">One Time</option>
                    </select>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-12 col-md-6">
                  <div class="form-group form-group-default">
                      <label>API Apps<span class="text-danger">*</span></label>
                      <select class="select2 form-control" id="api_keys" name="api_keys" multiple required style="width: 100%; height: 40px;">
                        {% for key in data.api_apps %}
                            <option class="flash" value="{{key['id']}}">{{ key['name'] }}</option>
                        {% endfor %}
                      </select>
                  </div>
              </div>
              <div class="col-sm-12 col-md-6">
                  <div class="form-group form-group-default">
                      <label>Interval (Seconds) </label>
                      <input class="form-control" type="number" step="0.1" id="interval" name="interval"
                            value="1.0" placeholder="1.0" />
                  </div>
              </div>
            </div>

            <div class="row" id="time-range">
                <div class="col-sm-12 col-md-6">
                    <div class="form-group form-group-default">
                        <label>Start Time</label>
                        <input class="form-control datetime-picker" type="text" id="start_time" name="start_time"
                              value="" placeholder="2021-06-13 00:00" />
                    </div>
                </div>
                <div class="col-sm-12 col-md-6">
                    <div class="form-group form-group-default">
                        <label>End Time</label>
                        <input class="form-control datetime-picker" type="text" id="end_time" name="end_time"
                              value="" placeholder="2021-06-20 23:55" />
                    </div>
                </div>
            </div>

            <div class="row" id="time-range">
                <div class="col-sm-12 col-md-6">
                    <div class="form-group form-group-default">
                        <label>Schedule Interval (Days)</label>
                        <input class="form-control" type="number" id="schedule_interval" name="schedule_interval"
                              value="0" placeholder="" />
                    </div>
                </div>
                <div class="col-sm-12 col-md-6">
                    <div class="form-group form-group-default">
                        <label>Schedule Start Date & Time (Japan Standard Time)</label>
                        <input class="form-control datetime-picker" type="text" id="schedule_time" name="schedule_time"
                              value="" placeholder="2021-06-20 23:55" />
                    </div>
                </div>
            </div>

            <div class="row">
              <div class="col-sm-12 col-md-6">
                  <div class="form-group form-group-default">
                      <label>Targets<span class="text-danger">*</span></label>
                      <textarea class="form-control" type="text" id="targets" name="targets"
                            value="" placeholder="user1,user2"></textarea>
                  </div>
              </div>
              <div class="col-sm-12 col-md-6">
                  <div class="form-group form-group-default">
                      <label>Or upload a file of the targets</label>
                      <input class="form-control" type="file" id="targets_file" name="targets_file"
                            value="" placeholder="" />
                  </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12 col-md-6">
                  <div class="form-group form-group-default">
                      <label>Inclusion Keywords<span class="text-danger">*</span></label>
                      <textarea class="form-control" type="text" id="inclusion_keywords" name="inclusion_keywords"
                            value="" placeholder="hot,crypto" ></textarea>
                  </div>
              </div>
              <div class="col-sm-12 col-md-6">
                  <div class="form-group form-group-default">
                      <label>Or upload a file of the inclusion keywords</label>
                      <input class="form-control" type="file" id="inclusion_keywords_file" name="inclusion_keywords_file"
                            value="" placeholder="hot,crypto"/>
                  </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12 col-md-6">
                  <div class="form-group form-group-default">
                      <label>Exclusion Keywords<span class="text-danger">*</span></label>
                      <textarea class="form-control" type="text" id="exclusion_keywords" name="exclusion_keywords"
                            value="" placeholder="bad,keywords" ></textarea>
                  </div>
              </div>
              <div class="col-sm-12 col-md-6">
                  <div class="form-group form-group-default">
                      <label>Or upload a file of the exclusion keywords</span></label>
                      <input class="form-control" type="file" id="exclusion_keywords_file" name="exclusion_keywords_file"
                            value="" placeholder="" />
                  </div>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-12 col-md-6" style="align-items: center;">
                <input type="checkbox" id="enable-translation" /><label class="ml-2" for="enable-translation"> Enable Translation</label>
              </div>
            </div>

            <div>
              <label><b>Rank Calculation</b><span class="text-danger">*</span></label>
              <div class="row p-3">
                <div class="col-6 col-md-3">
                  <input type="checkbox" id="rank-retweets" class="rank-checkbox" />
                  <label for="rank-retweets">Retweets</label>
                </div>
                <div class="col-6 col-md-3">
                  <input type="checkbox" id="rank-likes" class="rank-checkbox" />
                  <label for="rank-likes">Likes</label>
                </div>
                <div class="col-6 col-md-3">
                  <input type="checkbox" id="rank-comments" class="rank-checkbox" />
                  <label for="rank-comments">Comments</label>
                </div>
                <div class="col-6 col-md-3">
                  <input type="checkbox" id="rank-followers" class="rank-checkbox" />
                  <label for="rank-followers">Followers</label>
                </div>
              </div>
              <div>
                <p id="rank-formula" class="text-center"></p>
              </div>
            </div>

            <div>
              <label><b>Cutout (by Rank Index)</b></label>
              <div class="row">
                <div class="col-sm-12 col-md-6" style="display: flex; align-items: center;">
                    <div class="">
                        <input type="checkbox" id="enable_cutout" name="enable_cutout" />
                        <label for="enable_cutout">Enable</label>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6">
                    <div class="form-group form-group-default">
                        <label>Max Count</label>
                        <input class="form-control" type="number" step="1" id="cutout" name="cutout"
                              value="0" placeholder="10" />
                    </div>
                </div>
              </div>
            </div>

            <!-- Metric Filters -->
            <div class="row">
              <div class="col-12">
                <label><b>Metric Filter</b><span class="text-danger">*</span>&nbsp;&nbsp;&nbsp;
                  <button type="button" class="btn btn-info m-btn m-btn--custom m-btn--icon m-btn--air" title="Add new filter"
                    id="add-new-filter-widget"
                    >
                    <i class="la la-plus"></i>
                  </button>
                </label>
              </div>
            </div>

            <div class="" id="filters">
              <!-- <div class="col-sm-12 col-md-6">
                <div class="form-group form-group-default">
                  <label>Metric Type<span class="text-danger">*</span></label>
                  <div style="display: flex; align-items: center;">
                    <div style="width: 80px;">
                      <button style="margin-right: 10px;" class="btn btn-danger m-btn m-btn--custom m-btn--icon m-btn--air" title="Remove this filter"><i class="la la-minus"></i></button>
                    </div>
                    <select class="form-control" id="metrics-0" name="metrics[]" required>
                      <option value="retweet">Retweet</option>
                      <option value="likes">Likes</option>
                      <option value="follower">Follower</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="col-sm-12 col-md-6">
                  <div class="form-group form-group-default">
                      <label>Min Number<span class="text-danger">*</span></label>
                      <input class="form-control" type="text" id="min_number-0" name="min_number[]"
                            value="0" placeholder="50" required />
                  </div>
              </div> -->
            </div>

            <!-- Submit Container -->
            <div class="d-flex justify-content-end">
              <button type="submit" class="btn btn-primary m-btn m-btn--custom m-btn--icon m-btn--air">
                  <i class="la la-plus"></i>Add
              </button>
            </div>
        </form>
      </div>
      <!-- //Item Form -->