{% extends "layout/panel.html" %}
{% block body %}
  <div class="m-content">
    <div class="m-portlet m-portlet--mobile">
      <div class="m-portlet__head">
          <div class="m-portlet__head-caption">
              <div class="m-portlet__head-title">
                  <h3 class="m-portlet__head-text">
                    My Bots
                  </h3>
              </div>
          </div>
          <div class="m-portlet__head-tools">
              <ul class="m-portlet__nav">
                  <li class="m-portlet__nav-item">
                      <span href="#"
                        class="btn btn-accent m-btn m-btn--custom m-btn--pill m-btn--icon m-btn--air"
                        id="add-item">
                          <span>
                              <i class="la la-plus"></i>
                              <span>New record</span>
                          </span>
                        </span>
                  </li>
              </ul>
          </div>
      </div>

      <!-- Item Form -->
      <div class="m-portlet__body _hide" id="form-wrapper" style="padding: 0;">
        <form id="website-form" style="padding: 2.2rem 2.2rem;">
            <input type="hidden" id="bot-id" name="id" value="-1"/>
            <div class="row">
              <div class="col-sm-12 col-md-6">
                  <div class="form-group form-group-default">
                      <label>Name<span class="text-danger">*</span></label>
                      <input class="form-control" type="text" id="name" name="name"
                              value="" placeholder="" required />
                  </div>
              </div>
              <div class="col-sm-12 col-md-6">
                <div class="form-group form-group-default">
                    <label>Type<span class="text-danger">*</span></label>
                    <select class="form-control" id="type" name="type" required>
                      <option value="REAL_TIME">Real Time</option>
                      <option value="ONE_TIME">One Time</option>
                    </select>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-12 col-md-6">
                  <div class="form-group form-group-default">
                      <label>API Apps<span class="text-danger">*</span></label>
                      <select class="select2 form-control" id="api_keys" name="api_keys" multiple required style="width: 100%; height: 40px;">
                        {% for key in data.api_apps %}
                            <option class="flash" value="{{key['id']}}">{{ key['name'] }}</option>
                        {% endfor %}
                      </select>
                  </div>
              </div>
              <div class="col-sm-12 col-md-6">
                  <div class="form-group form-group-default">
                      <label>Interval</label>
                      <input class="form-control" type="number" step="0.1" id="interval" name="interval"
                            value="1.0" placeholder="1.0" />
                  </div>
              </div>
            </div>

            <div class="row" id="time-range">
                <div class="col-sm-12 col-md-6">
                    <div class="form-group form-group-default">
                        <label>Start Time</label>
                        <input class="form-control datetime-picker" type="text" id="start_time" name="start_time"
                              value="" placeholder="2021-06-13 00:00" />
                    </div>
                </div>
                <div class="col-sm-12 col-md-6">
                    <div class="form-group form-group-default">
                        <label>End Time</label>
                        <input class="form-control datetime-picker" type="text" id="end_time" name="end_time"
                              value="" placeholder="2021-06-20 23:55" />
                    </div>
                </div>
            </div>

            <div class="row" id="time-range">
                <div class="col-sm-12 col-md-6">
                    <div class="form-group form-group-default">
                        <label>Schedule Interval (Days)</label>
                        <input class="form-control" type="number" id="schedule_interval" name="schedule_interval"
                              value="0" placeholder="" />
                    </div>
                </div>
                <div class="col-sm-12 col-md-6">
                    <div class="form-group form-group-default">
                        <label>Schedule Time (Japan Standard Time)</label>
                        <!-- <input class="form-control datetime-picker" type="text" id="end_time" name="end_time"
                              value="" placeholder="2021-06-20 23:55" /> -->
                        <select class="form-control" id="schedule_time" name="schedule_time">
                          <option value="0">00:00 AM</option>
                          <option value="1">01:00 AM</option>
                          <option value="2">02:00 AM</option>
                          <option value="3">03:00 AM</option>
                          <option value="4">04:00 AM</option>
                          <option value="5">05:00 AM</option>
                          <option value="6">06:00 AM</option>
                          <option value="7">07:00 AM</option>
                          <option value="8">08:00 AM</option>
                          <option value="9">09:00 AM</option>
                          <option value="10">10:00 AM</option>
                          <option value="11">11:00 AM</option>
                          <option value="12">12:00 PM</option>
                          <option value="13">01:00 PM</option>
                          <option value="14">02:00 PM</option>
                          <option value="15">03:00 PM</option>
                          <option value="16">04:00 PM</option>
                          <option value="17">05:00 PM</option>
                          <option value="18">06:00 PM</option>
                          <option value="19">07:00 PM</option>
                          <option value="20">08:00 PM</option>
                          <option value="21">09:00 PM</option>
                          <option value="22">10:00 PM</option>
                          <option value="23">11:00 PM</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="row">
              <div class="col-sm-12 col-md-6">
                  <div class="form-group form-group-default">
                      <label>Targets<span class="text-danger">*</span></label>
                      <textarea class="form-control" type="text" id="targets" name="targets"
                            value="" placeholder="user1,user2"></textarea>
                  </div>
              </div>
              <div class="col-sm-12 col-md-6">
                  <div class="form-group form-group-default">
                      <label>Or upload a file of the targets</label>
                      <input class="form-control" type="file" id="targets_file" name="targets_file"
                            value="" placeholder="" />
                  </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12 col-md-6">
                  <div class="form-group form-group-default">
                      <label>Inclusion Keywords<span class="text-danger">*</span></label>
                      <textarea class="form-control" type="text" id="inclusion_keywords" name="inclusion_keywords"
                            value="" placeholder="hot,crypto" ></textarea>
                  </div>
              </div>
              <div class="col-sm-12 col-md-6">
                  <div class="form-group form-group-default">
                      <label>Or upload a file of the inclusion keywords</label>
                      <input class="form-control" type="file" id="inclusion_keywords_file" name="inclusion_keywords_file"
                            value="" placeholder="hot,crypto"/>
                  </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12 col-md-6">
                  <div class="form-group form-group-default">
                      <label>Exclusion Keywords<span class="text-danger">*</span></label>
                      <textarea class="form-control" type="text" id="exclusion_keywords" name="exclusion_keywords"
                            value="" placeholder="bad,keywords" ></textarea>
                  </div>
              </div>
              <div class="col-sm-12 col-md-6">
                  <div class="form-group form-group-default">
                      <label>Or upload a file of the exclusion keywords</span></label>
                      <input class="form-control" type="file" id="exclusion_keywords_file" name="exclusion_keywords_file"
                            value="" placeholder="" />
                  </div>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <label><b>Metric Filter</b><span class="text-danger">*</span>&nbsp;&nbsp;&nbsp;
                  <button type="button" class="btn btn-info m-btn m-btn--custom m-btn--icon m-btn--air" title="Add new filter"
                    id="add-new-filter-widget"
                    >
                    <i class="la la-plus"></i>
                  </button>
                </label>
              </div>
            </div>
            <div class="" id="filters">
              <!-- <div class="col-sm-12 col-md-6">
                <div class="form-group form-group-default">
                  <label>Metric Type<span class="text-danger">*</span></label>
                  <div style="display: flex; align-items: center;">
                    <div style="width: 80px;">
                      <button style="margin-right: 10px;" class="btn btn-danger m-btn m-btn--custom m-btn--icon m-btn--air" title="Remove this filter"><i class="la la-minus"></i></button>
                    </div>
                    <select class="form-control" id="metrics-0" name="metrics[]" required>
                      <option value="retweet">Retweet</option>
                      <option value="likes">Likes</option>
                      <option value="follower">Follower</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="col-sm-12 col-md-6">
                  <div class="form-group form-group-default">
                      <label>Min Number<span class="text-danger">*</span></label>
                      <input class="form-control" type="text" id="min_number-0" name="min_number[]"
                            value="0" placeholder="50" required />
                  </div>
              </div> -->
            </div>
            <!-- Submit Container -->
            <div class="d-flex justify-content-end">
              <button type="submit" class="btn btn-primary m-btn m-btn--custom m-btn--icon m-btn--air">
                  <i class="la la-plus"></i>Add
              </button>
            </div>
        </form>
      </div>

      <div class="row p-3">
        <div class="col-6 col-md-3">
          <input type="checkbox" id="col-show-name" class="col-show-checkbox" />
          <label for="col-show-name">Name</label>
        </div>
        <div class="col-6 col-md-3">
          <input type="checkbox" id="col-show-type" class="col-show-checkbox" />
          <label for="col-show-type">Type</label>
        </div>
        <div class="col-6 col-md-3">
          <input type="checkbox" id="col-show-targets" class="col-show-checkbox" />
          <label for="col-show-targets">Targets</label>
        </div>
        <div class="col-6 col-md-3">
          <input type="checkbox" id="col-show-period" class="col-show-checkbox" />
          <label for="col-show-period">Period</label>
        </div>
        <div class="col-6 col-md-3">
          <input type="checkbox" id="col-show-apps" class="col-show-checkbox" />
          <label for="col-show-apps">API Apps</label>
        </div>
        <div class="col-6 col-md-3">
          <input type="checkbox" id="col-show-inclusion" class="col-show-checkbox" />
          <label for="col-show-inclusion">Inclusion Keywords</label>
        </div>
        <div class="col-6 col-md-3">
          <input type="checkbox" id="col-show-exclusion" class="col-show-checkbox" />
          <label for="col-show-exclusion">Exclusion Keywords</label>
        </div>
        <div class="col-6 col-md-3">
          <input type="checkbox" id="col-show-status" class="col-show-checkbox" />
          <label for="col-show-status">Status</label>
        </div>
      </div>

      <div class="m-portlet__body">
        <!--begin: Datatable -->
        <table class="table table-striped- table-bordered table-hover table-checkable" style="font-size: 14px;"
              id="tableWithDynamicRows">
            <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Type</th>
                <th>Targets</th>
                <th>Period(s)</th>
                <th>API Apps</th>
                <th>Inclusion Keywords</th>
                <th>Exclusion Keywords</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>

            </tbody>
        </table>
      </div>

    </div>
  </div>
{% endblock %}

{% block scripts %}
  <script src="{{ url_for('static', filename='js/bots.js') }}?v={{data.time}}"></script>
{% endblock %}
