{% extends "layout/panel.html" %}
{% block body %}
  <div class="m-content">
    <div class="m-portlet m-portlet--mobile">
      <div class="m-portlet__head">
          <div class="m-portlet__head-caption">
              <div class="m-portlet__head-title">
                  <h3 class="m-portlet__head-text">
                    My Bots
                  </h3>
              </div>
          </div>
          <div class="m-portlet__head-tools">
              <ul class="m-portlet__nav">
                  <li class="m-portlet__nav-item">
                      <span href="#"
                        class="btn btn-accent m-btn m-btn--custom m-btn--pill m-btn--icon m-btn--air"
                        id="add-item">
                          <span>
                              <i class="la la-plus"></i>
                              <span>New record</span>
                          </span>
                        </span>
                  </li>
              </ul>
          </div>
      </div>

      {% include 'partials/bot_form.html' %}

      <!-- Show/Hide Column -->
      <div class="row p-3">
        <div class="col-6 col-md-3">
          <input type="checkbox" id="col-show-name" class="col-show-checkbox" />
          <label for="col-show-name">Name</label>
        </div>
        <div class="col-6 col-md-3">
          <input type="checkbox" id="col-show-type" class="col-show-checkbox" />
          <label for="col-show-type">Type</label>
        </div>
        <div class="col-6 col-md-3">
          <input type="checkbox" id="col-show-targets" class="col-show-checkbox" />
          <label for="col-show-targets">Targets</label>
        </div>
        <div class="col-6 col-md-3">
          <input type="checkbox" id="col-show-period" class="col-show-checkbox" />
          <label for="col-show-period">Period</label>
        </div>
        <div class="col-6 col-md-3">
          <input type="checkbox" id="col-show-apps" class="col-show-checkbox" />
          <label for="col-show-apps">API Apps</label>
        </div>
        <div class="col-6 col-md-3">
          <input type="checkbox" id="col-show-inclusion" class="col-show-checkbox" />
          <label for="col-show-inclusion">Inclusion Keywords</label>
        </div>
        <div class="col-6 col-md-3">
          <input type="checkbox" id="col-show-exclusion" class="col-show-checkbox" />
          <label for="col-show-exclusion">Exclusion Keywords</label>
        </div>
        <div class="col-6 col-md-3">
          <input type="checkbox" id="col-show-enable_cutout" class="col-show-checkbox" />
          <label for="col-show-enable_cutout">Enable Cutout</label>
        </div>
        <div class="col-6 col-md-3">
          <input type="checkbox" id="col-show-cutout" class="col-show-checkbox" />
          <label for="col-show-cutout">Cutout</label>
        </div>
        <div class="col-6 col-md-3">
          <input type="checkbox" id="col-show-status" class="col-show-checkbox" />
          <label for="col-show-status">Status</label>
        </div>
      </div>

      <!-- Datatable -->
      <div class="m-portlet__body">
        <!--begin: Datatable -->
        <table class="table table-striped- table-bordered table-hover table-checkable" style="font-size: 14px;"
              id="tableWithDynamicRows">
            <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Type</th>
                <th>Targets</th>
                <th>Period(s)</th>
                <th>API Apps</th>
                <th>Inclusion Keywords</th>
                <th>Exclusion Keywords</th>
                <th>Enabled Cutout</th>
                <th>Cutout</th>
                <th>Status</th>
                <!-- <th>Next Run</th> -->
                <th>Actions</th>
            </tr>
            </thead>
            <tbody></tbody>
        </table>
      </div>

    </div>
  </div>
{% endblock %}

{% block scripts %}
  <script src="{{ url_for('static', filename='js/bots.js') }}?v={{data.time}}"></script>
{% endblock %}
