{% extends "layout/panel.html" %}
{% block body %}
  <h2>Welcome back!</h2>

  <div class="row" style="max-width: 1440px; margin: auto;">
    <div class="information-box col-sm-12 col-md-3">
      <div class="card">
        <p>You have </p>
        <div class="info-text">
          2 Apps
        </div>
        <div class="text-right"><a href="/api-apps">View More...</a></div>
      </div>
    </div>
    <div class="information-box col-sm-12 col-md-3">
      <div class="card">
        <p>You have</p>
        <div class="info-text">2 Bots</div>
        <div class="text-right"><a href="/bots">View More...</a></div>
      </div>
    </div>
  </div>
{% endblock %}
