{% extends "layout/panel.html" %}
{% block body %}
  <div class="m-content">
    <div class="m-portlet m-portlet--mobile">
      <div class="m-portlet__head">
          <div class="m-portlet__head-caption">
              <div class="m-portlet__head-title">
                  <h3 class="m-portlet__head-text">
                    My Bots
                  </h3>
              </div>
          </div>
      </div>


      <div class="row p-3">
        <div class="col-6 col-md-3">
          <input type="checkbox" id="col-show-bot" class="col-show-checkbox" />
          <label for="col-show-bot">Bot</label>
        </div>
        <div class="col-6 col-md-3">
          <input type="checkbox" id="col-show-notification" class="col-show-checkbox" />
          <label for="col-show-notification">Notification</label>
        </div>
        <div class="col-6 col-md-3">
          <input type="checkbox" id="col-show-type" class="col-show-checkbox" />
          <label for="col-show-type">Type</label>
        </div>
        <div class="col-6 col-md-3">
          <input type="checkbox" id="col-show-time" class="col-show-checkbox" />
          <label for="col-show-time">Time</label>
        </div>
      </div>

      <div class="m-portlet__body">
        <!--begin: Datatable -->
        <table class="table table-striped- table-bordered table-hover table-checkable" style="font-size: 14px;"
              id="tableWithDynamicRows">
            <thead>
            <tr>
                <th>#</th>
                <th>Bot</th>
                <th>Notification</th>
                <th>Type</th>
                <th>Time</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>

            </tbody>
        </table>
      </div>

    </div>
  </div>
{% endblock %}

{% block scripts %}
  <script src="{{ url_for('static', filename='js/notifications.js') }}?v={{timestamp()}}"></script>
{% endblock %}
