{% extends "layout/panel.html" %}
{% block body %}
<div class="m-content">
  <div class="m-portlet m-portlet--mobile">
    <div class="m-portlet__head">
      <div class="m-portlet__head-caption">
        <div class="m-portlet__head-title">
          <h3 class="m-portlet__head-text">
            Tweets
          </h3>
        </div>
      </div>
    </div>

    <div class="row p-3">
      <div class="col-6 col-md-3">
        <input type="checkbox" id="col-show-bot" class="col-show-checkbox" />
        <label for="col-show-bot">Bot</label>
      </div>
      <div class="col-6 col-md-3">
        <input type="checkbox" id="col-show-target" class="col-show-checkbox" />
        <label for="col-show-target">Target</label>
      </div>
      <div class="col-6 col-md-3">
        <input type="checkbox" id="col-show-text" class="col-show-checkbox" />
        <label for="col-show-text">Text</label>
      </div>
      <div class="col-6 col-md-3">
        <input type="checkbox" id="col-show-translated" class="col-show-checkbox" />
        <label for="col-show-translated">Translated</label>
      </div>
      <div class="col-6 col-md-3">
        <input type="checkbox" id="col-show-followers" class="col-show-checkbox" />
        <label for="col-show-followers">Followers</label>
      </div>
      <div class="col-6 col-md-3">
        <input type="checkbox" id="col-show-friends" class="col-show-checkbox" />
        <label for="col-show-friends">Friends</label>
      </div>
      <div class="col-6 col-md-3">
        <input type="checkbox" id="col-show-statuses" class="col-show-checkbox" />
        <label for="col-show-statuses">Total Tweets</label>
      </div>
      <div class="col-6 col-md-3">
        <input type="checkbox" id="col-show-lists" class="col-show-checkbox" />
        <label for="col-show-lists">Lists</label>
      </div>
      <div class="col-6 col-md-3">
        <input type="checkbox" id="col-show-retweets" class="col-show-checkbox" />
        <label for="col-show-retweets">Retweets</label>
      </div>
      <div class="col-6 col-md-3">
        <input type="checkbox" id="col-show-likes" class="col-show-checkbox" />
        <label for="col-show-likes">Likes</label>
      </div>
      <div class="col-6 col-md-3">
        <input type="checkbox" id="col-show-tweeted" class="col-show-checkbox" />
        <label for="col-show-tweeted">Tweeted</label>
      </div>
      <div class="col-6 col-md-3">
        <input type="checkbox" id="col-show-time" class="col-show-checkbox" />
        <label for="col-show-time">time</label>
      </div>
    </div>

    <hr/>

    <!-- Filters -->
    <div class="m-portlet__body">
      <label><b>Filters</b></label>
      <div class="row">
        <div class="col-12 col-md-4">
          <div class="form-group form-group-default">
            <label>Bot</label>
            <select class="form-control" id="filter_bot">
              <option value="0">- Select a bot -</option>
              {% for bot in data.bots %}
                <option class="flash" value="{{bot['id']}}">{{ bot['name'] }}</option>
              {% endfor %}
            </select>
          </div>
        </div>
        <div class="col-12 col-md-4">
          <div class="form-group form-group-default">
            <label>Search</label>
            <input class="form-control" type="text" id="filter_search" name="filter_serarch"
                  value="" placeholder="Search by Text" />
          </div>
        </div>
      </div>
    </div>
    <!-- Datatable -->
    <div class="m-portlet__body">
      <!--begin: Datatable -->
      <table class="table table-striped- table-bordered table-hover table-checkable" style="font-size: 14px;"
        id="tableWithDynamicRows">
        <thead>
          <tr>
            <th>#</th>
            <th>Bot</th>
            <th>Target</th>
            <th>Text</th>
            <th>Translated</th>
            <th>Followers</th>
            <th>Friends</th>
            <th>Total Tweets</th>
            <th>Lists</th>
            <th>Retweets</th>
            <th>Likes</th>
            <th>Tweeted</th>
            <th>Time</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody></tbody>
      </table>
    </div>

  </div>
</div>

<!-- Tweet Modal -->
<div class="modal fade" id="tweetModal" tabindex="-1" role="dialog" aria-labelledby="TweetModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">
          Review a Tweet
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" style="padding-bottom: 5px;">
        <form role="form" id="tweet-form" name="tweet-form">
          <input type="hidden" id="tweet-id" name="tweet-id" />

            <div class="form-group form-group-default">
              <label>Origin Tweet (<span id="len-origin"></span>)</label>
              <!-- <textarea class="form-control" type="text" id="origin-tweet" name="origin-tweet"
                    value="" placeholder="Origin Tweet" readonly></textarea> -->
              <div id="o-tweet-con"></div>
              <div class="flex-right mt-1">
                <button id="do-retweet" type="button" class="btn btn-info  btn-cons">Retweet</button>
              </div>
            </div>
            <div class="form-group form-group-default">
              <label>Translated (<span id="len-translated"></span>)</label>
              <textarea class="form-control" type="text" id="translated-tweet" name="translated-tweet"
                    value="" placeholder="Translated Tweet"></textarea>
              <div class="flex-right mt-1">
                <button id="do-tweet" type="button" class="btn btn-info  btn-cons">Save & Tweet</button>
              </div>
            </div>
          
        </form>
      </div>
      <div class="modal-footer">
        <button id="do-save" type="button" class="btn btn-primary  btn-cons">Save</button>
        <button type="button" class="btn btn-cons" data-dismiss="modal">Cancel</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
{% endblock %}

{% block styles %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/tweets.css') }}">
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/tweets.js')  }}?v={{timestamp()}}"></script>
{% endblock %}