{% extends "layout/panel.html" %}
{% block body %}
<div class="m-content">
  <div class="m-portlet m-portlet--mobile">
    <div class="m-portlet__head">
      <div class="m-portlet__head-caption">
        <div class="m-portlet__head-title">
          <h3 class="m-portlet__head-text">
            My Bots
          </h3>
        </div>
      </div>
      <div class="m-portlet__head-tools">
        <ul class="m-portlet__nav">
          <li class="m-portlet__nav-item">
            <span href="#" class="btn btn-accent m-btn m-btn--custom m-btn--pill m-btn--icon m-btn--air" id="add-item">
              <span>
                <i class="la la-plus"></i>
                <span>New record</span>
              </span>
            </span>
          </li>
        </ul>
      </div>
    </div>

    <!-- Datatable -->
    <div class="m-portlet__body">
      <!--begin: Datatable -->
      <table class="table table-striped- table-bordered table-hover table-checkable" style="font-size: 14px;"
        id="tableWithDynamicRows">
        <thead>
          <tr>
            <th>#</th>
            <th>Bot</th>
            <th>Target</th>
            <th>Text</th>
            <th>Translated</th>
            <th>Tweeted</th>
            <th>Time</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody></tbody>
      </table>
    </div>

  </div>
</div>

<div class="modal fade" id="tweetModal" tabindex="-1" role="dialog" aria-labelledby="TweetModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">
          Review a Tweet
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" style="padding-bottom: 5px;">
        <form role="form" id="tweet-form" name="tweet-form">
          <input type="hidden" id="tweet-id" name="tweet-id" />

            <div class="form-group form-group-default">
                <label>Origin Tweet (<span id="len-origin"></span>)</label>
                <textarea class="form-control" type="text" id="origin-tweet" name="origin-tweet"
                      value="" placeholder="Origin Tweet" readonly></textarea>
            </div>
            <div class="form-group form-group-default">
              <label>Translated (<span id="len-translated"></span>)</label>
              <textarea class="form-control" type="text" id="translated-tweet" name="translated-tweet"
                    value="" placeholder="Translated Tweet"></textarea>
            </div>
          
        </form>
      </div>
      <div class="modal-footer">
        <button id="add-category" type="button" class="btn btn-primary  btn-cons">Save</button>
        <button type="button" class="btn btn-cons" data-dismiss="modal">Cancel</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
{% endblock %}

{% block styles %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/tweets.css') }}">
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/tweets.js')  }}?v={{timestamp()}}"></script>
{% endblock %}